/** TEAM'S MEMBERS **/

.cardArgh{
    background: url('https://i.ibb.co/sJ93Thd/67fd06b66887805b1a80a65ff5f4a02b.webp') center center no-repeat;
    background-size: 200px;
  }
  
  .cardArgh:hover{
      background: url('https://i.ibb.co/sJ93Thd/67fd06b66887805b1a80a65ff5f4a02b.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardIrvanni{
    background: url('https://i.ibb.co/Z2Pf5t5/4811e077272dea2b364f5bf91ffe01c6.webp') center center no-repeat;
    background-size: 200px;
  }
  
  .cardIrvanni:hover{
      background: url('https://i.ibb.co/Z2Pf5t5/4811e077272dea2b364f5bf91ffe01c6.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardMx{
      background: url('https://i.ibb.co/4RvcfmF/logo-squared.png') center center no-repeat;
      background-size: 200px;
  }
  
  .cardMx:hover{
      background: url('https://i.ibb.co/4RvcfmF/logo-squared.png') left center no-repeat;
      background-size: 300px;
  }

  .cardBrut4lKangaroo{
    background: url('../../static/imgs/pfpRubi.png') center center no-repeat;
    background-size: 200px;
  }

  .cardBrut4lKangaroo:hover{
    background: url('../../static/imgs/pfpRubi.png') left center no-repeat;
    background-size: 300px;
  }

  .cardASD{
    background: url('../../static/imgs/pfpRubi.png') center center no-repeat;
    background-size: 200px;
  }

  .cardASD:hover{
    background: url('../../static/imgs/pfpRubi.png') left center no-repeat;
    background-size: 300px;
  }

  .cardNewMember{
    background: url('../../static/imgs/pfpRubi.png') center center no-repeat;
    background-size: 200px;
  }

  .cardNewMember:hover{
    background: url('../../static/imgs/pfpRubi.png') left center no-repeat;
    background-size: 300px;
  }
  